@use 'sass:color';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.1)) {
  box-shadow: 0 4px 6px $color;
}

@mixin button-style($bg-color: #3498db, $text-color: white) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: -10%);
  }
}